extends ../page-template/template.pug

block page-content
	section.intro
		picture.intro__picture-background
			source(srcset="../webp-img/intro/intro__background.webp" type="image/webp")
			img(src="../min-img/intro/intro__background.jpg" alt="")
		.intro__overlay
		.intro__inner
			.intro__text-wrapper
				p.intro__hello-text  Привет, меня зовут Денис и я
				.intro__sentence-wrapper
					ul.intro__symbol-wrapper.intro__first-word-wrapper
						each letter in ['В','Е','Р','С','Т','А','Л','Ь','Щ','И','К' ]
							li.intro__letter-inner
								span.intro__letter-text=letter
					.intro__letter-inner.intro__divider-letter
						.intro__letter-text /
					ul.intro__symbol-wrapper.intro__second-word-wrapper
						each letter in ['F','R','O','N','T','E','N','D' ]
							li.intro__letter-inner
								span.intro__letter-text=letter
					ul.intro__symbol-wrapper.intro__third-word-wrapper
						each letter in ['Р','А','З','Р','А','Б','О','Т','Ч','И','К']
							li.intro__letter-inner
								span.intro__letter-text=letter
				p.intro__about-text.hide создаю современные сайты.
	section#about.about.section-margin
		.container
			.about__inner
				.about__photo-wrapper
					picture.about__photo-picture
						source(srcset="../webp-img/about/my-photo.webp" type="image/webp")
						img(src="../min-img/about/my-photo.jpg", alt="")
				.about__text-wrapper
					.about__name Мошкин Денис
					.about__position Верстальщик / Frontend разработчик
					.about__about-me
						| Я всей душой полюбил веб разрботку, и не жалею времени на постоянное развитие в этой области.
						<br>
						| Развиваюсь в сторону web-приложений (Vue.js, React.js), а также WordPress.
					ul.about__text-items
						li.about__text-item.item
							p.item__title Опыт в веб-разработке
							p.item__text 1.5 года
						li.about__text-item.item
							p.item__title Возраст
							p.item__text 23 года
						li.about__text-item.item
							p.item__title Почта
							p.item__text
								a.default-link(href="mailto:disant1998@yandex.ru") disant1998@yandex.ru
						li.about__text-item.item
							p.item__title Телефон
							p.item__text
								a.default-link(href="tel:+89635508754") 89635508754
						li.about__text-item.item
							p.item__title Телеграмм
							p.item__text @denis_moshkin
						li.about__text-item.item
							p.item__title Образование
							p.item__text "ВятГУ" по направлению "Фундаментальная информатика и информационные технологии" 3 курса.
						li.about__text-item.item
							p.item__title Медиа
							.item__text
								ul.item__link-items
									li.item__link-item
										a.item__link-item(href="https://github.com/VisualYuki" target="_blank")
											img.item__link-item-img(src="../svg/github.svg" alt="")
									li.item__link-item
										a.item__link-item(href="https://vk.com/moshkin_denis" target="_blank")
											img.item__link-item-img(src="../svg/vk.svg" alt="")
						li.about__text-item.item
							.item__title Исходники резюме
							a.default-link(href="https://github.com/VisualYuki/portfolio" target="_blank") Ссылка на репозиторий
	section#skill.skills.section-margin
		.container
			h2.section-title Навыки
			ul.skills__items
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vue-js.svg" alt="")
						span.item__title Vue.js
					p.item__text Изучил прогрессивный JavaScript-фреймворк. Научился использовать работать с классами, события, директивами, компонентами.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/wordpress.svg" alt="")
						span.item__title Wordpress
					p.item__text Изучил CMS систему управления контентом. Научился работать со стандартными классами и методами, владеть бызовыми знаниями в php, работать с админкой и связывать админку с версткой.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/js.svg" alt="")
						span.item__title Javascript
					p.item__text Изучил язык программирования - Javascript. Научился использовать функции, классы, встроенные объекты а также работать с DOM моделью сайта.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/web.svg" alt="")
						span.item__title Верстка
					p.item__text Изучил верстку страниц сайта по PSD, Figma макету. Научился верстать адаптивно и кроссбраузерно с применением медиа запросов. Использование семантической верстки для улучшения качества кода.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/ajax.svg" alt="")
						span.item__title AJAX
					p.item__text Изучил AJAX - асинхронный JavaScript и XML. Научился работать с сервером: отправлять, получать запросы и обрабатывать их на странице.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/gulp.svg" alt="")
						span.item__title Gulp
					p.item__text
						| Изучил таскранер Gulp. Научился использовать плагины для минификации кода и изображений, сборки файлов, постпроцессоры, сервер проекта, а также линтеры для JS, CSS, PUG.
						a.default-link(href="https://github.com/VisualYuki/Gulp-config" target="_blank")  Ссылка на репозиторий с конфигом.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/optimization.svg" alt="")
						span.item__title Опт-ция сайта
					p.item__text Изучил методы оптимизации сайта. Научился использовать програссивные форматы изображений (webp), ленивую загрузку фото, минимальную вложенность DOM, минификация кода, а также научился работать с панелью разработчика для отслеживания процесса работы сайта.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/git.svg" alt="")
						span.item__title Git / Github
					p.item__text Изучил систему контроля версий. Научился пользоваться git bush для локальной работы с проектом и github для хранния проекта на удаленном сервере, а также коммитить, пушить, мержить, работать с ветками, стэшить и изучил pull request и fetch. Использую gitlab и github
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/webpack.svg" alt="")
						span.item__title Webpack
					p.item__text
					| Изучил сборщик проектов webpack
					//. Научился настраивать конфиг под проекты с фреймворком Vue.js
					a.default-link(href="https://github.com/VisualYuki/webpack-config" target="_blank")  Ссылка на репозиторий с конфигом.

				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/jquery.svg" alt="")
						span.item__title JQuery
					p.item__text Изучил библиотеку для js - JQuery. Научился использовать селекторы, события, методы работы с DOM, эффекты и анимацию.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/html-5.svg" alt="")
						span.item__title HTML5
					p.item__text Изучил язык гипертекстовой разметки текста - HTML. Научился делать качественную разметку веб-страницы, используя всевозможные тэги и атрибуты.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/css.svg" alt="")
						span.item__title CSS3
					p.item__text Изучил таблицу каскадных стилей CSS. Научился использовать grid и flex в зависимости от поставленной задачи, а также всевозможные стили.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/sass.svg" alt="")
						span.item__title less/sass/scss
					p.item__text Изучил CSS препроцессоры. Научился использовать переменные, миксины, вложенность, циклы, импорты для ускорения верстки сайта.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/pug.svg" alt="")
						span.item__title Pug
					p.item__text Изучил шаблонизатор для html. Научился использовать циклами, переменными, блоками, импортами, инклюдами, миксинами.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/yandex.svg" alt="")
						span.item__title БЭМ
					p.item__text Изучил методологию верстки - BAM-naming. Научился стандартному наименованию классов и разделению ответственности между блоками, а также конецпции блок, элемент, модификатор.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/english-language.svg" alt="")
						span.item__title Англ. язык
					p.item__text Научился читать и понимать английские тексты: чтение документаций к плагинам, редакторам кода, ЯП, а также понимание интерфейса программ. Стараюсь читать все в оригинале.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/email.svg" alt="")
						span.item__title MJML
					p.item__text Изучил фреймворк для верстки писем. Научился использовать тэгами и стилями.
					//Понимаю как верстать письма без фреймворков.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/twig.svg" alt="")
						span.item__title Twig
					p.item__text
						|Изучил препроцессор twig. Научился использовать циклы, условия, layout, extends, include, loop.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/php.svg" alt="")
						span.item__title PHP
					p.item__text Изучил язык программирования PHP. Научился использовать for, foreach, var, if, echo.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/sql-server.svg" alt="")
						span.item__title SQL
					p.item__text Изучил язык структурированых запросов SQL. Знаю на уровне запросов: insert, select, join, update, delete, а также нормальные формы Бойса-Кодда.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/skills.svg" alt="")
						span.item__title Остальное
					p.item__text  Open Server, VS CODE, Virtual Box, FTP, SSH, Yandex map api, С#
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/linux.svg" alt="")
						span.item__title Linux
					p.item__text Изучил операционную систему Linux . Научился пользоваться терминалом, настраивать LAMP сервер.
				//li.skills__item.item
					.item-title
						img.item__icon(src="../svg/schema.svg" alt="")
						span.item__title schema.org
					p.item__text Изучил . Научился использовать
	section#experience.experience.section-margin
		.container
			h2.section-title Опыт работы
			ul.experience__items
				li.experience__item.item
					a.item__picture-link(href="https://palax.info" target="_blank")
						img.item__picture(src="../svg/palax-logo.svg", alt="" style="background: black; padding: 10px;")
					.item__desc
						.item__title
							span.item__position Верстальщик, front-end разработчик
							a.item__company(href="https://palax.info/" target="_blank") / PALAX
							p.item__time Время работы: 01.20 - 04.20 (4 месяца)
						.item__subtitle Рабочие обязанности:
							ul.item__subitems
								li.item__subitem Верстка лэндингов и многостраничных сайтов.
								li.item__subitem Поддержка существующих проектов.
								li.item__subitem Создание дополнительных страниц для сущ. сайтов.
						.item__subtitle Чему научился:
							ul.item__subitems
								li.item__subitem Самостоятельное решение проблем, так как из front-end разрботчиков я был один.
						.item__subtitle Что понравилось:
							ul.item__subitems
								li.item__subitem Наличие общего сервера компании и собственного удаленного рабочего пространства.
								li.item__subitem Были интересные и масштабные проекты.
						.item__subtitle Причина ухода:
							ul.item__subitems
								li.item__subitem Ушел по собственному желанию.
								li.item__subitem Желание развиваться дальше, но проекты оставались простыми для меня.
								li.item__subitem Отсутствие других front-end разработчиков, что мешало развиваться и приходилось идти на ощубь (отсутствие code-review).
								li.item__subitem Нарушение всяких правил разработки (смена разработчиков на середине создания сайта, выполнение работы неквалифицированными людьми, что приводило к провалу или к низкому качеству проекта)
								li.item__subitem Отсутствие документаций к проектам, проекты без git'а по ftp, при условии создания сайта в 2021.
								li.item__subitem Неудобная работа в palax.cms, что приводило к тому, что любую задачу нужно было допытывать у менеджера и низкий уровень составления задач ПМ.
				li.experience__item.item
					a.item__picture-link(href="https://rootmedia.ru" target="_blank")
						picture.item__picture
							source(srcset="../webp-img/experience/rootmedia-logo.webp" type="image/webp" )
							img(src="../min-img/experience/rootmedia-logo.png" alt="")
					.item__desc
						.item__title
							span.item__position Верстальщик, front-end разработчик
							a.item__company(href="https://rootmedia.ru" target="_blank") / Rootmedia
							p.item__time Время работы: 02.20 - 10.20 (8 месяцев)
						.item__subtitle Рабочие обязанности:
							ul.item__subitems
								li.item__subitem Верстка лэндингов и многостраничных сайтов.
								li.item__subitem Поддержка существующих проектов.
								li.item__subitem Создание дополнительных страниц для сущ. сайтов.
								li.item__subitem Работа с 1C-Bitrix.
						.item__subtitle Чему научился:
							ul.item__subitems
								li.item__subitem Качественно и быстро выполнять свою работу.
								li.item__subitem Соблюдать правила работы в офисе.
								li.item__subitem Обязательная обратная связь с колегами и начальником.
						.item__subtitle Что понравилось:
							ul.item__subitems
								li.item__subitem Получил реальный опыт создания сайтов и не один десяток бессоных ночей))
						.item__subtitle Причина ухода:
							ul.item__subitems
								li.item__subitem Уволился по взаимному согласию.
								li.item__subitem Не устраивали используемые технологии: Linux (когда он совершенно избыточен для меня), bitrix (сама концепция CMS устаревшая и совершенно не логичная), слабый компьютер
								li.item__subitem Сам процесс создания сайта не всегда был правильным, что по итогу приводило к неприятных ситуациям.
								li.item__subitem По стечению обстоятельств несколько интересных проектов отдали на фриланс, а мне отдали полумертвые проекты, что сильно подтолкнуло меня уйти от туда.
	section.portfolio.section-bottom-margin#portfolio
		.container
			h2.section-title Портфолио
			ul.portfolio__site-items
				li.portfolio__site-item
					.item-title-wrap
						p.item-title Студия комфорта
						img.item-logo(src="../svg/studio-comforta-logo.svg" alt="")
					ul.item__subitems
						li.item__subitem
							p.item__subitem-title Главная страница
							.item__subitem-img-wrap
								picture.item__subitem-picture
									source(srcset="../webp-img/portfolio/studio-comforta/intro.webp" type="image/webp" class="lazyload")
									img(src="../min-img/portfolio/studio-comforta/intro.png", alt="" class="lazyload")
								.item__subitem-btns-wrap
									.item__subitems-btns-inner
										a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_intro" data-name-ext="png" data-fancybox="") Увеличить фото
										a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru" target="blame"  ) Перейти к странице
			//-ul.portfolio__items
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		a(href="https://studio-comforta.ru")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/studio_intro.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/studio_intro.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_intro" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		a(href="https://studio-comforta.ru")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/studio_middle.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/studio_middle.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_middle" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Форма выбора потолка
			//-		a(href="https://studio-comforta.ru")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/studio_form.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/studio_form.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_form" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Отзывы
			//-		a(href="https://studio-comforta.ru/feedbacks")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/studio_reviews.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/studio_reviews.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_reviews" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru/feedbacks" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Карта местоположения
			//-		a(href="https://studio-comforta.ru/contacts")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/studio_map.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/studio_map.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="studio_map" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://studio-comforta.ru/contacts" target="blame"  ) Перейти к странице



			//-h3.site-title
			//-   //img(src="../min-img/logo-shizhma.png" class="site-title__img" alt="", srcset="")
			//-   span Инструмент

			//-ul.portfolio__items
			//-   li.portfolio__item
			//-      p.portfolio__item-title Главная страница
			//-      picture.portfolio__item-picture
			//-         source(data-srcset="../img/vdk.webp" type="image/webp" class="lazyload")
			//-         img(data-src="../min-img/vdk.phg", alt="" class="lazyload")
			//-      .portfolio__btn-wrapper
			//-         .portfolio__btn-inner-wrapper
			//-            a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="vdk" data-name-ext="png" data-fancybox="") Увеличить фото
			//-            a.portfolio__btn-link.portfolio__btn(href="https://newlk.vdkanal.ru/" target="blame"  ) Перейти к странице
			//-h3.site-title
			//-	//img(src="../min-img/logo-shizhma.png" class="site-title__img" alt="", srcset="")
			//-	span Личный кабинет водоканала

			//-ul.portfolio__items
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/vdk.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/vdk.phg", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="vdk" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://newlk.vdkanal.ru/" target="blame"  ) Перейти к странице
			//-h3.site-title
			//-	//img(src="../min-img/logo-shizhma.png" class="site-title__img" alt="", srcset="")
			//-	span Япономания
			//-ul.portfolio__desc
			//-	li Просто верстка
			//-ul.portfolio__items
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/ym-index.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/ya-index.phg", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="ym-index" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://ym.palax.dev" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Каталог
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/ym-catalog.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/ya-catalog.phg", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="ym-catalog" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://ym.palax.dev/kombo" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Страница товара
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/ym-product.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/ya-product.phg", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="ym-product" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="https://ym.palax.dev/assorty/set-kupidon/pitstsa-sochnaya-25-sm-aktsiya/pitstsa-lemon-fish" target="blame"  ) Перейти к странице
			//-h3.site-title
			//-	//img(src="../min-img/logo-shizhma.png" class="site-title__img" alt="", srcset="")
			//-	span Шижма (WordPress)
			//-ul.portfolio__desc
			//-	li Сайт полностью сделан мной (верстка, натяжка, заполнение контентом)
			//-	li Весь контент добавляеться через админку WP
			//-	li Есть обратная форма связи ( на почту)
			//-	li Страницы событие (летнне, зимнее, осеннее) сделаны в виде шаблона
			//-	li Live страница поддерживает трансляцию с youtube при указании id канала.
			//-ul.portfolio__items
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_index.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_index.phg", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_index" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Результаты
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_results.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_results.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_results" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/results/" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Участникам
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_living.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_living.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_living" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/players/" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Контакты
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_contacts.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_contacts.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_contacts" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/contacts/" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Live соревнования

			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_live.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_live.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_live" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/live/" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Зимнее событие
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_snow-event.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_snow-event.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_snow-event" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/лыжный-марафон/" target="blame"  ) Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Летнее событие
			//-		picture.portfolio__item-picture
			//-			source(data-srcset="../img/shizhma_summer-event.webp" type="image/webp" class="lazyload")
			//-			img(data-src="../min-img/shizhma_summer-event.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="shizhma_summer-event" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://shizhma-new.shizhma.com/кросс-кантри-веломарафон/" target="blame"  ) Перейти к странице
			//-h3.site-title
			//-	span Квиз по английскому языку (Vue.js)

			//-ul.portfolio__desc
			//-	li Квиз сделан на Vue.js с использоавнием AJAX запросов.
			//-	li
			//-		a.link(href="https://github.com/VisualYuki/english-quiz-vue.js-/blob/master/src/js/01_scripts/quiz.js") Ссылка на репозиторий.
			//-	li
			//-		a.link(href="../projects/english quiz/dist/pages/index.html") Ссылка на квиз

			//-picture.game-img
			//-	source(data-srcset="../img/english-quiz.webp" type="image/webp" class="lazyload")
			//-	img(data-src="../min-img/english-quiz.png", alt="" class="lazyload")
			//-h3.site-title
			//-	span Агросоюз
			//-ul.portfolio__desc
			//-	li Есть каталог и карточка товара, событие, новости.
			//-	li С меня была только верстка
			//-ul.portfolio__items
			//-	li.portfolio__item
			//-		p.portfolio__item-title Главная страница
			//-		a(href="http://agrosouz.43rm.ru/")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/agrosouz_intro.webp" type="image/webp" class="lazyload" )
			//-				img(data-src="../min-img/agrosouz_intro.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_intro" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Поиск продукта
			//-		a(href="http://agrosouz.43rm.ru/")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/agrosouz_catalog.webp" type="image/webp" class="lazyload" )
			//-				img(data-src="../min-img/agrosouz_catalog.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_catalog" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/catalog/navesnoe-oborudovanie-k-traktoram/frontalnye-pogruzchiki" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Карточка проекта
			//-		a(href="http://agrosouz.43rm.ru/catalog")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/agrosouz_card-project.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/agrosouz_card-project.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_card-project" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/catalog" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Карта
			//-		a(href="http://agrosouz.43rm.ru/contacts")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/agrosouz_map.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/agrosouz_map.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_map" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/contacts" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title О компании
			//-		a(href="http://agrosouz.43rm.ru/about")
			//-			picture.portfolio__item-picture
			//-				source(srcset="" data-srcset="../img/agrosouz_about.webp" type="image/webp" class="lazyload")
			//-				img(src="" data-src="../min-img/agrosouz_about.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_about" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/about" target="blame") Перейти к странице
			//-	li.portfolio__item
			//-		p.portfolio__item-title Каталог товаров
			//-		a(href="http://agrosouz.43rm.ru/catalog")
			//-			picture.portfolio__item-picture
			//-				source(data-srcset="../img/agrosouz_predcatalog.webp" type="image/webp" class="lazyload")
			//-				img(data-src="../min-img/agrosouz_predcatalog.png", alt="" class="lazyload")
			//-		.portfolio__btn-wrapper
			//-			.portfolio__btn-inner-wrapper
			//-				a.portfolio__btn-extend.portfolio__btn(class="lazyload" data-href="" data-img-name ="agrosouz_predcatalog" data-name-ext="png" data-fancybox="") Увеличить фото
			//-				a.portfolio__btn-link.portfolio__btn(href="http://agrosouz.43rm.ru/catalog" target="blame") Перейти к странице
			//-h3.site-title
			//-	img(src="../img/svg/studio-logo.svg" class="site-title__img" alt="", srcset="")
			//-	span Студия комфорта

			//-h3.site-title
			//-	span Спайдер солитер
			//-ul.portfolio__desc
			//-	li Полносью написан на js.
			//-	li Игра отлажена не польностью(так как не было много времени), поэтому могут быть баги.
			//-	li
			//-		a.link(href="https://github.com/VisualYuki/-spider-solitaire/blob/master/js/index.js" target="_blank") Ссылка на репозиторий с игрой
			//-	li
			//-		a.link(href="../projects/-spider-solitaire/index.html" target="_blank") Ссылка на игру
			//-picture.game-img
			//-	source(data-srcset="../img/solitiare.webp" type="image/webp" class="lazyload")
			//-	img(data-src="../min-img/solitiare.png", alt="" class="lazyload")