header.header
   .container 
      nav.header__nav 
         ul.header__items
            li.header__item   
               a.header__item-link(href="#about") Обо мне   
            li.header__item   
               a.header__item-link(href="#skill") Навыки       
            li.header__item   
               a.header__item-link(href="#experience") Опыт работы   
            li.header__item   
               a.header__item-link(href="#portfolio") Портфолио                                         